<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="DataFile" value="E:\Projects\AutoApproval\AutoApproval\AutoApproval\AdminHistory\Data.txt"/>
      <add key="DataToBeReviewedFile" value="E:\Projects\AutoApproval\AutoApproval\AutoApproval\AdminHistory\DataToBeReviewed.txt"/>
      <add key="ConnectionString" value="Driver={ODBC Driver 13 for SQL Server};Server=tcp:akshaypoc.database.windows.net,1433;Database=POC;Uid=anjain2@akshaypoc;Pwd=0laksowietgB);Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"/>
    </appSettings>
</configuration>